footer {
    display: block;
}

#footer,
#sub-footer {
    overflow: hidden;
}

.entry-footer div.entry-byline {
    background: 0 0
}

.entry-footer .entry-byline {
    opacity: 1;
    filter: alpha(opacity=100);
    color: #db1010;
    margin: 0;
    padding: 1.66666667em 5px;
    border-bottom: solid 1px #aaa
}

.frontpage-area .entry-footer {
    display: none
}

.site-stretch .sub-footer>.grid>.grid-span-12 .bottomborder-line:after,
.site-stretch .sub-footer>.grid>.grid-span-12 .bottomborder-shadow:after,
.site-stretch .sub-footer>.grid>.grid-span-12 .topborder-line:before,
.site-stretch .sub-footer>.grid>.grid-span-12 .topborder-shadow:before {
    margin: 0 -1999px
}

.sub-footer {
    background: #f5f5f5;
    border-top: solid 1px #aaa;
    line-height: 1.66666667em;
    text-align: center
}

.sub-footer .widget {
    margin: 40px 0
}

.footer {
    border-top: solid 4px #ddd;
    border-color: rgba(0, 0, 0, .13);
    padding: 15px 0 10px;
    line-height: 1.66666667em
}

.footer a {
    color: #f15c22
}

.footer a:hover {
    text-decoration: underline
}

.footer p {
    margin: 1em 0
}

.footer .footer-column {
    min-height: 1em
}

.footer .grid-span-12.footer-column {
    text-align: center
}
.footer .widget {
    margin: 50px 0
}
.footer .widget-title,
.sub-footer .widget-title {
    color: #666;
    font-size: 15px;
    font-family: inherit;
    font-weight: 700;
    text-transform: uppercase
}

.post-footer {
    border-top: solid 1px #aaa;
    border-color: rgba(0, 0, 0, .33);
    text-align: center
}

.post-footer a {
    color: inherit
}

.entry-footer .entry-byline {
    border-color: #aaaaaa;
    color: #f15c22;
}

#footer {
    background-color: #ececec;
    color: #f15c22;
    font-size: 15px;
    font-style: normal;
    text-transform: none;
    font-weight: normal;
}

.footer h1,
.footer h2,
.footer h3,
.footer h4,
.footer h5,
.footer h6,
.footer .title {
    color: #002a5c;
}

.sub-footer .widget-title,
.footer .widget-title {
    color: #002a5c;
    font-size: 15px;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-style: normal;
}

.post-footer {
    background: #5a5a5a;
    color: #f37341;
}
#footer .cta-description p{
    color:#f37341;
    font-style: bold;
}
#footer .widget_hoot-cta-widget a {
    color: white;
}
.button {
    background: #002a5c;
}
.button:hover {
    background: #002a5c;
}